@font-face {
  font-family: "ProductSans";
  src: url("../src/fonts/ProductSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "ProductSans";
  src: url("../src/fonts/ProductSansItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "ProductSans";
  src: url("../src/fonts/ProductSansBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "ProductSans";
  src: url("../src/fonts/ProductSansBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "ProductSans";
  text-decoration: none;
  list-style: none;
  color: #fff;
}

html {
  background-color: #333;
}
